@model KuasRepair.Models.Repair

@{
    ViewBag.Title = "搜尋結果";
}

<h2><span class="glyphicon glyphicon-check"></span>搜尋結果</h2>
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Repair_ID)
    <div class="form-group">
        @Html.LabelFor(model => model.Repair_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_ID, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Sort_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Sort_ID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Customer_ID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Repair_Object, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_Object, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repair_Cause, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_Cause, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repair_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_Date, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repair_Finishdate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_Finishdate, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repair_Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_Price, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repair_Way, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Repair_Way, new { @readonly = true, @class = "form-control col-md-2" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Employee_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Employee_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Employee_ID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("回首頁", "Index","Home",null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
